#Mandatory
TOKEN=<discord-token>
API_URL=<papertrail-api-url>
#Optional
TOTAL_SHARDS=<defaults-to-1>
MIN_SHARD_ID=<defaults-to-0>
MAX_SHARD_ID=<defaults-to-0>
TWILIGHT_HTTP_PROXY_URL=<defaults-to-blank>
PORT=<defaults-to-8080>
MANAGEMENT_PORT=<defaults-to-9000>
LOG_LEVEL=<defaults-to-info>
