TOKEN=<discord-token>
REDIS_URL=redis://[:password@]host[:port][/db-number]

APP_NAME=MyBot
APP_ACTIVITY="Watching Over My Server"
GUILD_AUDIT_LOG_CHANNEL=123456789010111
GUILD_MESSAGE_LOG_CHANNEL=9876543210111
GUILD_MESSAGE_RETENTION_DAYS=60

# Overrides
GUILD_SECURITY_INCIDENT_EVENT_LOG_CHANNEL=9695965565655
GUILD_VOICE_EVENT_LOG_CHANNEL=8984496519945