TOKEN=<discord-token>
REDIS_URL=redis://[:password@]host[:port][/db-number]

APP_NAME=MyBot
APP_ACTIVITY="Watching Over My Server"
GLOBAL_EVENT_LOG_CHANNEL=123456789010111
GLOBAL_MESSAGE_EVENT_LOG_CHANNEL=9876543210111
MESSAGE_RETENTION_DAYS=60

# Overrides
SECURITY_INCIDENT_EVENT_LOG_CHANNEL=9695965565655
VOICE_EVENT_LOG_CHANNEL=8984496519945